<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8" />
        <title>Django Passbook :: {% block title %}{% endblock %}</title>
        <style type="text/css">
            @import url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css');
            @import url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap-responsive.min.css');
            @import url('{{ STATIC_URL }}passbook/css/passbook.css');
            {% block css %}{% endblock %}
        </style>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div id="parent-container" class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
